[Desktop Entry]
Version=1.0
Type=Application
Name=Install Decky-SteamAchievements
Comment=Install or update the Decky-SteamAchievements plugin
Exec=/usr/bin/python3 /home/deck/Desktop/Decky-SteamAchievementsInstaller/install_decky_plugin.py --gui
TryExec=/usr/bin/python3
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=Utility;System;
